<ion-card>
  <ion-item color="secondary">
    <ion-card-header>
      <ion-card-title>{{missionData.type}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-label>
        <span class="card-label">派遣時間</span>
        {{missionData.dispatchTime | date:'medium'}}
      </ion-label>
      <ion-label>
        <span class="card-label">起始單位</span>
        {{missionData.startDepartment}}
      </ion-label>
      <ion-label>
        <span class="card-label">送往單位</span>
        {{missionData.endDepartment}}
      </ion-label>
    </ion-card-content>
  </ion-item>
  <ion-item color="tertiary">
    <ion-label></ion-label>
    <ion-button>掃描</ion-button>
  </ion-item>
</ion-card>