<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      未開始
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button contentId=""></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="has-header">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="mission-card" *ngFor="let item of missionList; let i=index">
    <app-mission-uninit-card [missionData]="missionList[i]"></app-mission-uninit-card>
  </div>
</ion-content>