.card-content{
    margin-top: 5%;
}
.card-label{
    color:white;
}
.card-title{
    writing-mode: vertical-lr ;
    font-weight: bolder;
    width:10%;
}
.scan-button{
    width: 50%;
    margin:  0px auto;
}
