.text{
font-weight: bolder;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.content{
    font-size: x-large;
    margin-bottom: 50px;
}
.title{
    margin-top: 10px;
    font-size:large;
}
.header{
    color: white;
}
